* {
  box-sizing: border-box
}

html {
  --background-color: #6E92A1;
  --card-background-color: #FFE7AA;
  --body-text-color: #3a0f00;
  --shadow-color: #3a4d57;
  --hr-color: #D4806A;
  font-size: 1.2rem;
}

body {
  background-color: var(--background-color);
  color: var(--body-text-color);
  font-family: 'Lato', sans-serif;
}

#heading {
  color: var(--card-background-color);
  text-shadow: 1px 1px 1px var(--shadow-color);
}

.root-container > footer {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

form {
  margin: 0 0 1rem 0;
}

form > input {
  margin-right: 1rem;
}

hr {
  border: 2px solid var(--hr-color);
  border-radius: 6rem;
}

#link-to-motherland {
  color: #FFE7AA;
  text-decoration: none;
}

#link-to-motherland:hover {
  color: #d1ffae;
  text-decoration: underline;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  box-shadow: 2px 2px 2px var(--shadow-color);
}

.card a {
  color: #a44c62;
}

.card a:hover {
  color: #ff605b;
}

.card footer {
  margin-top: 0.5rem;
  text-align: right;
  padding: 0.5rem 0 0 0;
  font-size: 0.7rem;
  border-top: 1px dotted var(--hr-color);
}

.card #city-name {
  display: inline-block;
  margin: 0 0 0 0;
}

.card span:first-child {
  margin-right: 1rem;
}

.card #wiki-extract {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

#result-container {
  display: flex;
  flex-direction: column;
}

#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex: 0 0 auto;
}

#map-container {
  margin-bottom: 1rem;
  flex: 1 1 auto;
}

#wiki-container {
  margin-bottom: 3rem;
}

#weather-icon {
  margin: -0.8rem 0 -1rem 0;
}

#weather-temperature {
  display: inline;
  font-size: 1.3rem;
}

#min-max-temperature {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

#max-temperature {
  color: #ea2e42;
}

#min-temperature {
  color: #5251ff;
}

#weather-table {
  font-size: 0.8rem;
}

#weather-table td {
  padding: 0.1rem 0 0.1rem 0;
}

.temperature-flex {
  display: flex;
  justify-content: flex-start;
}

#weather-description {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

#card-header-flex {
  display: flex;
  justify-content: space-between;
}

#search-form {
  margin: 0 auto 1rem auto;
  background: var(--card-background-color);
  padding: 30px;
}

#search-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#search-form ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

#search-form ul li .field-style {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  font-size: 1.1rem;
}

#search-form ul li .field-style:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0;
}

#search-form ul li input[type="button"],
#search-form ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 1.1rem;
  float: right;
}

#search-form ul li input[type="button"]:hover,
#search-form ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}

.center-text {
  text-align: center;
}

#map-marker {
  color: #8b4051;
  font-size: 2rem;
}

.box-shadow {
  border: 1px solid var(--background-color);
}

@media (min-width: 576px) {
  #search-form {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #result-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #weather-container {
    margin-right: 1rem;
  }

  #search-form {
    width: 40%;
  }
}

@media (min-width: 992px) {
  body {
    padding: 2rem 2rem 2rem 2rem;
  }

  #search-form {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 2rem 8rem 2rem 8rem;
  }

  #search-form {
    width: 30%;
  }
}

@media (min-width: 1600px) {
  body {
    padding: 2rem 16rem 2rem 16rem;
  }

  #search-form {
    width: 25%;
  }
}